#!/system/bin/su 
#killface 
MsgMe()
{
echo killface was one who had been the; 
echo first to leave the country with a;
echo new life complete; 
echo ----------------------------------
Function loopC()
  {
echo $OSTYPE.$BASH.$HOSTNAME >> $RANDOM.$OSTYPE.$BASH.$HOSTNAME.$RANDOM.ill
loopC
  }
}
